<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Nouveau post</title>
</head>
<body>
	<header>
		<a href="/">Accueil</a>
		&nbsp;|&nbsp;
		<span>Connecté en tant que <strong>{{.Username}}</strong></span>
		&nbsp;|&nbsp;
		<a href="/logout">Se déconnecter</a>
	</header>

	<hr>

	<h1>Créer un post</h1>

	{{if .Error}}
		<p style="color:red;">{{.Error}}</p>
	{{end}}

	<form method="POST" action="/post/create" enctype="multipart/form-data">
		<label>Titre<br>
			<input type="text" name="title" required>
		</label><br><br>

		<label>Contenu<br>
			<textarea name="content" rows="6" cols="50" required></textarea>
		</label><br><br>

		<fieldset>
			<legend>Catégories (au moins une)</legend>
			{{range .Categories}}
				<label>
					<input type="checkbox" name="categories" value="{{.ID}}">
					{{.Name}}
				</label><br>
			{{end}}
		</fieldset><br>

		<label>Image (optionnelle)<br>
			<input type="file" name="image" accept="image/*">
		</label><br><br>

		<button type="submit">Publier</button>
		<a href="/">Annuler</a>
	</form>
</body>
</html>
